# Ignore secret files
secrets/
*passwords.json
Data/saved_networks

# Ignore scripts for maintaining environment and stable build
Useful_scripts/

# Ignore local code and figures
Local_Code/
Figures/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo