# Ignore secret files
secrets/
*passwords.json

# Ignore scripts for maintaining environment and stable build
Useful_scripts/

# Ignore local code
Local_Code/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo